</style>
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #4e1414;
}

h1 {
    color: #c5b9b9;
}
body {
    font-family: Arial, sans-serif;
    margin: 40px;
  
body {
     
    <nav>       background-color: rgba(59, 44, 10, 0.918);
}

